<ion-view title="Sch&uuml;ler hinzuf&uuml;gen" ng-controller="AddCtrl"> 
	<ion-content overflow-scroll="false" scroll="false" class="has-header">
		<form ng-submit="add(studentData)">
			<div class="list">
			  <label class="item item-input">
			    <input required type="text" placeholder="Vorname" ng-model="studentData.firstName">
			  </label>
			  <label class="item item-input">
			    <input required type="text" placeholder="Nachname" ng-model="studentData.lastName">
			  </label>
			  <label class="item item-input">
			    <input required type="text" placeholder="Schule" ng-model="studentData.schoolName">
			  </label>
			  <label class="item item-input">
			    <input required type="email" placeholder="E-Mail Adresse" ng-model="studentData.email">
			  </label>
			  <label class="item item-input">
			    <input required type="date" placeholder="Geburtstag" ng-model="studentData.birthday">
			  </label>
			 <button class="button button-block button-positive" type="submit">Hinzuf&uuml;gen</button>
			</div>
		</form>
	</ion-content> 
</ion-view>